## load the required libraries

In [39]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
sns.set_style('darkgrid')
warnings.filterwarnings('ignore')

In [122]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import accuracy_score,f1_score,mean_squared_error,mean_squared_log_error
import lightgbm as lgb

## read the files

In [40]:
train = pd.read_excel('Data_Train.xlsx')
test = pd.read_excel('Data_Test.xlsx')

In [41]:
print(train.shape, test.shape)

(6019, 13) (1234, 12)

#### basic data analysis
##### null values treatement
##### duplicates
##### outlier treatment

In [5]:
train.head(2)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50

In [7]:
print(train.isna().sum())
print(test.isna().sum())

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 10
Power                  10
Seats                  11
New_Price            1052
dtype: int64

In [8]:
train.describe(include=[np.object])

,Name,Location,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,New_Price
count,6019,6019,6019,6019,6019,6017,5983,5983,824
unique,1876,11,5,2,4,442,146,372,540
top,Mahindra XUV500 W8 2WD,Mumbai,Diesel,Manual,First,18.9 kmpl,1197 CC,74 bhp,95.13 Lakh
freq,49,790,3205,4299,4929,172,606,235,6

In [9]:
train.describe(exclude=[np.object])

              Year  Kilometers_Driven        Seats        Price
count  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   2013.358199       5.873838e+04     5.278735     9.479468
std       3.269742       9.126884e+04     0.808840    11.187917
min    1998.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.300000e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [194]:
train.nunique()

Name                 1876
Location               11
Year                   22
Kilometers_Driven    3093
Fuel_Type               5
Transmission            2
Owner_Type              4
Mileage               442
Engine                146
Power                 372
Seats                   9
New_Price             540
Price                1373
dtype: int64

##### Combining the train test.. no need to perform same task again on test we will split it later.

In [77]:
df = train.append(test, ignore_index=True)

In [78]:
df.sample(2)

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Name,New_Price,Owner_Type,Power,Price,Seats,Transmission,Year
4362,814 CC,Petrol,27886,Jaipur,22.0 kmpl,Hyundai EON Magna,NaN,First,55 bhp,2.85,5.0,Manual,2016
519,1591 CC,Petrol,69434,Chennai,15.8 kmpl,Hyundai Creta 1.6 SX,14.84 Lakh,First,121.3 bhp,8.00,5.0,Manual,2016

In [79]:
df.dtypes

Engine                object
Fuel_Type             object
Kilometers_Driven      int64
Location              object
Mileage               object
Name                  object
New_Price             object
Owner_Type            object
Power                 object
Price                float64
Seats                float64
Transmission          object
Year                   int64
dtype: object

In [80]:
df['Mileage'].unique()

array(['26.6 km/kg', '19.67 kmpl', '18.2 kmpl', '20.77 kmpl', '15.2 kmpl',
       '21.1 km/kg', '23.08 kmpl', '11.36 kmpl', '20.54 kmpl',
       '22.3 kmpl', '21.56 kmpl', '16.8 kmpl', '25.2 kmpl', '12.7 kmpl',
       '0.0 kmpl', '13.5 kmpl', '25.8 kmpl', '28.4 kmpl', '20.45 kmpl',
       '14.84 kmpl', '22.69 kmpl', '23.65 kmpl', '13.53 kmpl',
       '18.5 kmpl', '14.4 kmpl', '20.92 kmpl', '17.5 kmpl', '12.8 kmpl',
       '19.01 kmpl', '14.53 kmpl', '11.18 kmpl', '12.4 kmpl',
       '16.09 kmpl', '14.0 kmpl', '24.3 kmpl', '18.15 kmpl', '11.74 kmpl',
       '22.07 kmpl', '19.7 kmpl', '25.4 kmpl', '25.32 kmpl', '14.62 kmpl',
       '14.28 kmpl', '14.9 kmpl', '11.25 kmpl', '24.4 kmpl', '16.55 kmpl',
       '17.11 kmpl', '22.9 kmpl', '17.8 kmpl', '18.9 kmpl', '15.04 kmpl',
       '25.17 kmpl', '20.36 kmpl', '13.29 kmpl', '13.68 kmpl',
       '20.0 kmpl', '15.8 kmpl', '25.0 kmpl', '16.4 kmpl', '24.52 kmpl',
       '22.1 kmpl', '8.5 kmpl', '15.1 kmpl', '16.95 kmpl', '19.64 kmpl',
       '16.5 kmpl', '18.53 kmpl', '17.57 kmpl', '18.0 kmpl', '23.2 kmpl',
       '16.73 kmpl', '17.0 kmpl', '13.0 kmpl', '17.68 kmpl', '22.7 kmpl',
       '16.2 kmpl', '15.26 kmpl', '23.0 kmpl', '19.83 kmpl', '14.94 kmpl',
       '17.71 kmpl', '14.74 kmpl', '16.0 kmpl', '22.32 kmpl',
       '12.99 kmpl', '23.3 kmpl', '19.15 kmpl', '10.8 kmpl', '15.0 kmpl',
       '22.0 kmpl', '21.9 kmpl', '12.05 kmpl', '11.7 kmpl', '21.21 kmpl',
       '20.73 kmpl', '21.1 kmpl', '24.07 kmpl', '19.0 kmpl', '20.58 kmpl',
       '19.27 kmpl', '11.5 kmpl', '18.6 kmpl', '21.14 kmpl', '11.05 kmpl',
       '21.76 kmpl', '7.81 kmpl', '21.66 kmpl', '17.2 kmpl', '20.63 kmpl',
       '19.4 kmpl', '14.8 kmpl', '26.0 kmpl', '20.4 kmpl', '21.5 kmpl',
       '15.3 kmpl', '17.9 kmpl', '16.6 kmpl', '22.54 kmpl', '25.44 kmpl',
       '13.7 kmpl', '22.48 kmpl', '12.9 kmpl', '19.98 kmpl', '21.4 kmpl',
       '19.81 kmpl', '15.4 kmpl', '25.47 kmpl', '19.87 kmpl',
       '17.45 kmpl', '14.7 kmpl', '15.64 kmpl', '15.73 kmpl',
       '23.59 kmpl', '16.1 kmpl', '27.4 kmpl', '20.46 kmpl', '15.29 kmpl',
       '20.51 kmpl', '11.8 kmpl', '14.3 kmpl', '14.67 kmpl', '17.19 kmpl',
       '21.03 kmpl', '22.5 kmpl', '16.82 kmpl', '11.72 kmpl', '17.4 kmpl',
       '17.05 kmpl', '24.0 kmpl', '28.09 kmpl', '20.5 kmpl', '13.1 kmpl',
       '19.91 kmpl', '18.7 kmpl', '16.38 kmpl', '11.57 kmpl', '17.3 kmpl',
       '22.95 kmpl', '18.88 kmpl', '23.4 kmpl', '22.74 kmpl',
       '12.07 kmpl', '17.1 kmpl', '18.48 kmpl', '16.47 kmpl', '23.1 kmpl',
       '14.07 kmpl', '16.02 kmpl', '19.3 kmpl', '17.7 kmpl', '9.52 kmpl',
       '14.75 kmpl', '26.3 km/kg', '11.3 kmpl', '21.12 kmpl',
       '21.02 kmpl', '14.45 kmpl', '19.33 kmpl', '13.8 kmpl', '24.7 kmpl',
       '11.0 kmpl', '11.07 kmpl', '21.43 kmpl', '14.21 kmpl',
       '18.86 kmpl', '16.07 kmpl', '13.49 kmpl', '20.38 kmpl',
       '12.0 kmpl', '17.01 kmpl', '13.2 kmpl', '20.37 kmpl', '15.1 km/kg',
       '15.96 kmpl', '14.16 kmpl', '13.17 kmpl', '27.62 kmpl',
       '25.1 kmpl', '15.17 kmpl', '11.33 kmpl', '17.92 kmpl',
       '12.55 kmpl', '12.6 kmpl', '17.72 kmpl', '18.16 kmpl',
       '15.68 kmpl', '15.5 kmpl', '12.1 kmpl', '14.83 kmpl', '17.6 kmpl',
       '14.6 kmpl', '14.66 kmpl', '10.93 kmpl', '20.68 kmpl', '9.9 kmpl',
       '21.13 kmpl', '20.14 kmpl', '19.2 kmpl', '27.3 kmpl', '16.36 kmpl',
       '26.59 kmpl', '12.5 kmpl', '13.6 kmpl', '15.06 kmpl', '10.13 kmpl',
       '17.21 kmpl', '15.97 kmpl', '10.5 kmpl', '14.69 kmpl', '23.9 kmpl',
       '19.1 kmpl', '21.27 kmpl', '15.9 kmpl', '20.7 kmpl', '14.1 kmpl',
       '20.89 kmpl', '18.12 kmpl', '12.3 kmpl', '19.71 kmpl', '9.43 kmpl',
       '13.4 kmpl', '13.14 kmpl', '18.1 kmpl', '22.77 kmpl', '14.49 kmpl',
       '12.39 kmpl', '10.91 kmpl', '20.85 kmpl', '15.63 kmpl',
       '27.39 kmpl', '18.3 kmpl', '16.78 kmpl', '25.5 kmpl', '10.0 kmpl',
       '13.73 kmpl', '24.2 kmpl', '14.02 kmpl', '26.83 km/kg',
       '16.77 kmpl', '24.5 kmpl', '20.34 kmpl', '21.7 kmpl', '9.7 kmpl',
       '14.33 kmpl', '21.64 kmpl', '13.2 km/kg', '19.16 kmpl',
       '16.93 kmpl', '9.0 kmpl', '26.2 km/kg', '16.3 kmpl', '12.62 kmpl',
       '17.3 km/kg', '20.64 kmpl', '14.24 kmpl', '18.06 kmpl',
       '10.2 kmpl', '10.1 kmpl', '18.25 kmpl', '13.93 kmpl', '25.83 kmpl',
       '8.6 kmpl', '13.24 kmpl', '17.09 kmpl', '23.84 kmpl', '8.45 kmpl',
       '19.6 kmpl', '19.5 kmpl', '20.3 kmpl', '16.05 kmpl', '11.2 kmpl',
       '27.03 kmpl', '18.78 kmpl', '12.35 kmpl', '14.59 kmpl',
       '17.32 kmpl', '14.95 kmpl', '13.22 kmpl', '23.03 kmpl',
       '33.44 km/kg', '15.6 kmpl', '19.12 kmpl', '10.98 kmpl',
       '33.54 km/kg', '16.46 kmpl', '18.4 kmpl', '11.1 kmpl',
       '13.01 kmpl', '18.8 kmpl', '16.52 kmpl', '18.44 kmpl',
       '19.49 kmpl', '23.5 kmpl', '23.8 kmpl', '12.65 kmpl', '20.65 kmpl',
       '21.72 kmpl', '12.19 kmpl', '26.1 kmpl', '18.33 kmpl',
       '12.81 kmpl', '17.5 km/kg', '17.06 kmpl', '17.67 kmpl',
       '19.34 kmpl', '8.3 kmpl', '16.96 kmpl', '11.79 kmpl', '20.86 kmpl',
       '16.98 kmpl', '11.68 kmpl', '15.74 kmpl', '15.7 kmpl',
       '18.49 kmpl', '10.9 kmpl', '19.59 kmpl', '11.4 kmpl', '13.06 kmpl',
       '21.0 kmpl', '15.15 kmpl', '16.9 kmpl', '18.23 kmpl', '25.0 km/kg',
       '17.16 kmpl', '17.43 kmpl', '19.08 kmpl', '18.56 kmpl',
       '11.9 kmpl', '24.6 km/kg', '21.79 kmpl', '12.95 kmpl', '25.6 kmpl',
       '13.45 km/kg', '26.21 kmpl', '13.58 kmpl', '16.25 kmpl',
       '10.4 kmpl', '17.44 kmpl', '19.2 km/kg', '22.71 kmpl',
       '17.54 kmpl', '22.1 km/kg', '17.0 km/kg', '15.87 kmpl', '9.5 kmpl',
       '11.56 kmpl', '14.39 kmpl', '19.09 kmpl', '17.85 kmpl',
       '31.79 km/kg', '18.18 kmpl', '21.19 kmpl', '21.8 kmpl',
       '15.42 kmpl', '14.47 kmpl', '19.69 kmpl', '12.83 kmpl', '8.0 kmpl',
       '22.8 km/kg', '12.63 kmpl', '14.57 kmpl', '27.28 kmpl',
       '15.41 kmpl', '32.26 km/kg', '18.19 kmpl', '13.33 kmpl',
       '16.7 kmpl', '17.84 kmpl', '20.0 km/kg', '23.19 kmpl',
       '11.49 kmpl', '18.51 kmpl', '13.44 kmpl', '8.7 kmpl', '8.77 kmpl',
       '17.97 kmpl', '23.57 kmpl', '12.37 kmpl', '9.1 kmpl', '12.51 kmpl',
       '19.44 kmpl', '21.38 kmpl', '16.51 kmpl', '24.8 kmpl',
       '14.42 kmpl', '14.53 km/kg', '26.8 kmpl', '24.04 kmpl', '9.8 kmpl',
       '19.68 kmpl', '21.4 km/kg', '21.2 kmpl', '19.72 kmpl', '14.2 kmpl',
       '12.98 kmpl', '23.01 kmpl', '16.12 kmpl', '9.3 kmpl', '15.85 kmpl',
       nan, '17.88 kmpl', '10.6 kmpl', '11.78 kmpl', '7.94 kmpl',
       '25.01 kmpl', '8.1 kmpl', '13.9 kmpl', '11.62 kmpl', '20.62 kmpl',
       '15.11 kmpl', '10.37 kmpl', '18.59 kmpl', '9.74 kmpl',
       '14.81 kmpl', '8.2 kmpl', '12.97 kmpl', '7.5 kmpl', '30.46 km/kg',
       '6.4 kmpl', '12.85 kmpl', '18.69 kmpl', '17.24 kmpl', '13.07 kmpl',
       '12.2 kmpl', '20.8 kmpl', '11.88 km/kg', '12.08 kmpl',
       '15.56 kmpl', '14.5 kmpl', '17.15 kmpl'], dtype=object)

In [81]:
df['Mileage'] = df['Mileage'].apply(lambda x : str(x).split(' ')[0]).astype(float)

In [82]:
df['Engine'] = df['Engine'].apply(lambda x : str(x).split(" ")[0]).astype(float)

In [83]:
df['Power'].unique()

array(['58.16 bhp', '126.2 bhp', '88.7 bhp', '88.76 bhp', '140.8 bhp',
       '55.2 bhp', '63.1 bhp', '171.5 bhp', '103.6 bhp', '74 bhp',
       '103.25 bhp', '116.3 bhp', '187.7 bhp', '115 bhp', '175.56 bhp',
       '98.6 bhp', '83.8 bhp', '167.62 bhp', '190 bhp', '88.5 bhp',
       '177.01 bhp', '80 bhp', '67.1 bhp', '102 bhp', '108.45 bhp',
       '138.1 bhp', '184 bhp', '179.5 bhp', '103.5 bhp', '64 bhp',
       '82 bhp', '254.8 bhp', '73.9 bhp', '46.3 bhp', '37.5 bhp',
       '77 bhp', '82.9 bhp', '149.92 bhp', '138.03 bhp', '112.2 bhp',
       '163.7 bhp', '71 bhp', '105 bhp', '174.33 bhp', '75 bhp',
       '103.2 bhp', '53.3 bhp', '78.9 bhp', '147.6 bhp', '147.8 bhp',
       '68 bhp', '186 bhp', '170 bhp', '69 bhp', '140 bhp', '78 bhp',
       '194 bhp', '500 bhp', '108.5 bhp', '86.8 bhp', '187.74 bhp',
       'null bhp', '132 bhp', '86.7 bhp', '73.94 bhp', '117.3 bhp',
       '218 bhp', '168.5 bhp', '89.84 bhp', '110 bhp', '90 bhp',
       '82.85 bhp', '67 bhp', '241.4 bhp', '35 bhp', '270.9 bhp',
       '126.32 bhp', '73 bhp', '130 bhp', '100.6 bhp', '150 bhp',
       '75.94 bhp', '215 bhp', '107.3 bhp', '37.48 bhp', '120 bhp',
       '178 bhp', '152 bhp', '91.1 bhp', '85.80 bhp', '362.07 bhp',
       '121.3 bhp', '143 bhp', '81.80 bhp', '171 bhp', '76.8 bhp',
       '103.52 bhp', '444 bhp', '362.9 bhp', '67.06 bhp', '120.7 bhp',
       '258 bhp', '81.86 bhp', '112 bhp', '88.73 bhp', '57.6 bhp',
       '157.75 bhp', '102.5 bhp', '201.1 bhp', '83.1 bhp', '68.05 bhp',
       '88.50 bhp', nan, '106 bhp', '100 bhp', '81.83 bhp', '85 bhp',
       '64.1 bhp', '177.5 bhp', '246.7 bhp', '177.46 bhp', '65 bhp',
       '67.04 bhp', '189.08 bhp', '99 bhp', '53.5 bhp', '194.3 bhp',
       '70 bhp', '183 bhp', '254.79 bhp', '66.1 bhp', '76 bhp', '60 bhp',
       '123.24 bhp', '47.3 bhp', '118 bhp', '88.8 bhp', '177 bhp',
       '136 bhp', '201.15 bhp', '93.7 bhp', '177.6 bhp', '313 bhp',
       '245 bhp', '125 bhp', '141 bhp', '227 bhp', '62 bhp', '141.1 bhp',
       '83.14 bhp', '192 bhp', '67.05 bhp', '47 bhp', '235 bhp', '37 bhp',
       '87.2 bhp', '203 bhp', '204 bhp', '246.74 bhp', '122 bhp',
       '282 bhp', '181 bhp', '224 bhp', '94 bhp', '367 bhp', '98.79 bhp',
       '62.1 bhp', '174.3 bhp', '114 bhp', '335.2 bhp', '169 bhp',
       '191.34 bhp', '108.49 bhp', '138.02 bhp', '156 bhp', '187.4 bhp',
       '66 bhp', '103.3 bhp', '164.7 bhp', '79.4 bhp', '198.5 bhp',
       '154 bhp', '73.8 bhp', '181.43 bhp', '85.8 bhp', '207.8 bhp',
       '108.4 bhp', '88 bhp', '63 bhp', '82.5 bhp', '364.9 bhp',
       '107.2 bhp', '113.98 bhp', '126.3 bhp', '185 bhp', '237.4 bhp',
       '99.6 bhp', '66.7 bhp', '160 bhp', '306 bhp', '98.59 bhp',
       '92.7 bhp', '147.51 bhp', '197.2 bhp', '167.6 bhp', '165 bhp',
       '110.4 bhp', '73.97 bhp', '147.9 bhp', '116.6 bhp', '148 bhp',
       '34.2 bhp', '155 bhp', '197 bhp', '108.62 bhp', '118.3 bhp',
       '38.4 bhp', '241.38 bhp', '153.86 bhp', '163.5 bhp', '226.6 bhp',
       '84.8 bhp', '53.64 bhp', '158.2 bhp', '69.01 bhp', '181.03 bhp',
       '58.2 bhp', '104.68 bhp', '126.24 bhp', '73.75 bhp', '158 bhp',
       '130.2 bhp', '57.5 bhp', '97.7 bhp', '121.4 bhp', '98.96 bhp',
       '174.5 bhp', '308 bhp', '121.36 bhp', '138 bhp', '265 bhp',
       '84 bhp', '321 bhp', '91.72 bhp', '65.3 bhp', '88.2 bhp', '93 bhp',
       '35.5 bhp', '86.79 bhp', '157.7 bhp', '40.3 bhp', '91.7 bhp',
       '180 bhp', '114.4 bhp', '158.8 bhp', '157.8 bhp', '123.7 bhp',
       '56.3 bhp', '189 bhp', '104 bhp', '210 bhp', '270.88 bhp',
       '142 bhp', '255 bhp', '236 bhp', '167.7 bhp', '148.31 bhp',
       '80.46 bhp', '138.08 bhp', '250 bhp', '74.9 bhp', '91.2 bhp',
       '102.57 bhp', '97.6 bhp', '102.53 bhp', '240 bhp', '254 bhp',
       '112.4 bhp', '73.74 bhp', '108.495 bhp', '116.9 bhp', '101 bhp',
       '320 bhp', '70.02 bhp', '261.49 bhp', '105.5 bhp', '550 bhp',
       '168.7 bhp', '55.23 bhp', '94.68 bhp', '152.88 bhp', '163.2 bhp',
       '203.2 bhp', '241 bhp', '95 bhp', '200 bhp', '271.23 bhp',
       '63.12 bhp', '85.7 bhp', '308.43 bhp', '118.6 bhp', '199.3 bhp',
       '83.83 bhp', '55 bhp', '83 bhp', '300 bhp', '201 bhp', '262.6 bhp',
       '163 bhp', '58.33 bhp', '86.76 bhp', '76.9 bhp', '174.57 bhp',
       '301.73 bhp', '68.1 bhp', '162 bhp', '394.3 bhp', '80.9 bhp',
       '147.5 bhp', '272 bhp', '340 bhp', '120.33 bhp', '82.4 bhp',
       '231.1 bhp', '335.3 bhp', '333 bhp', '198.25 bhp', '224.34 bhp',
       '402 bhp', '261 bhp', '61 bhp', '144 bhp', '71.01 bhp',
       '271.72 bhp', '134 bhp', '135.1 bhp', '92 bhp', '64.08 bhp',
       '261.5 bhp', '123.37 bhp', '175.67 bhp', '53 bhp', '110.5 bhp',
       '178.4 bhp', '193.1 bhp', '41 bhp', '395 bhp', '48.21 bhp',
       '450 bhp', '421 bhp', '89.75 bhp', '387.3 bhp', '130.3 bhp',
       '281.61 bhp', '52.8 bhp', '139.01 bhp', '208 bhp', '503 bhp',
       '168 bhp', '98.82 bhp', '139.07 bhp', '83.11 bhp', '74.93 bhp',
       '382 bhp', '74.96 bhp', '552 bhp', '127 bhp', '560 bhp',
       '116.4 bhp', '161.6 bhp', '488.1 bhp', '103 bhp', '181.04 bhp',
       '138.13 bhp', '78.8 bhp', '616 bhp', '170.30 bhp', '182.46 bhp',
       '245.41 bhp', '161 bhp', '120.69 bhp', '252 bhp', '147.4 bhp',
       '328.5 bhp', '98.63 bhp', '360 bhp', '241.6 bhp'], dtype=object)

In [84]:
# found null bhpas value in the data
df['Power'] = df['Power'].replace('null bhp','0 bhp').apply(lambda x : str(x).split(' ')[0]).astype(float)

In [85]:
df['New_Price'] = df['New_Price'].fillna('-1 Lakhs').apply(lambda x: x.split(' ')[0]) 
df['New_Price'] = df['New_Price'].astype(float).replace(-1, np.nan)

In [86]:
df['Seats'] = df['Seats'].fillna(5)

In [87]:
df['Car_Age']=df['Year'].apply(lambda x: 2019-x)

In [88]:
df['Year'] = df['Year'].astype('category')
df['Location'] = df['Location'].astype('category')
df['Fuel_Type'] = df['Fuel_Type'].astype('category')
df['Transmission'] = df['Transmission'].astype('category')
df['Owner_Type'] = df['Owner_Type'].astype('category')

In [89]:
df.isnull().sum()

Engine                 46
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 2
Name                    0
New_Price            6247
Owner_Type              0
Power                  46
Price                1234
Seats                   0
Transmission            0
Year                    0
Car_Age                 0
dtype: int64

In [90]:
df['Name1'] = df['Name'].apply(lambda x: ' '.join(x.split(' ')[:2]))

# df['Engine'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.median()))['Engine']
# df['Power'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.median()))['Power']
# df['New_Price'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.mean()))['New_Price']

In [91]:
df['Engine']=df.groupby(['Name1']).transform(lambda x: x.fillna(x.mean(skipna=True)))['Engine']
# df['Engine'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.median()))['Engine']
df['Power']=df.groupby(['Name1']).transform(lambda x: x.fillna(x.mean(skipna=True)))['Power']
# df['Power'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.median()))['Power']
# df['Seats']=df.groupby(['Name1']).transform(lambda x: x.fillna(x.mean(skipna=True)))['Seats']
df['Seats'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.median()))['Seats']
df['Mileage']=df.groupby(['Name1']).transform(lambda x: x.fillna(x.mean(skipna=True)))['Mileage']
# df['Mileage'] = df.groupby(['Name1']).transform(lambda x: x.fillna(x.median()))['Mileage']
df['New_Price']=df.groupby(['Name1']).transform(lambda x: x.fillna(x.mean(skipna=True)))['New_Price']

In [92]:
df.isnull().sum()

Engine                  0
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 2
Name                    0
New_Price            1512
Owner_Type              0
Power                   0
Price                1234
Seats                   0
Transmission            0
Year                    0
Car_Age                 0
Name1                   0
dtype: int64

In [93]:
df['Name2'] = df['Name'].apply(lambda x: x.split(' ')[0])

df['New_Price'] = df.groupby(['Name2']).transform(lambda x: x.fillna(x.mean()))['New_Price']

In [94]:
df.isnull().sum()

Engine                  0
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 2
Name                    0
New_Price             162
Owner_Type              0
Power                   0
Price                1234
Seats                   0
Transmission            0
Year                    0
Car_Age                 0
Name1                   0
Name2                   0
dtype: int64

In [95]:
df.dtypes

Engine                float64
Fuel_Type            category
Kilometers_Driven       int64
Location             category
Mileage               float64
Name                   object
New_Price             float64
Owner_Type           category
Power                 float64
Price                 float64
Seats                 float64
Transmission         category
Year                 category
Car_Age                 int64
Name1                  object
Name2                  object
dtype: object

In [102]:
#### Apply genral statistics numeric features

In [96]:
agg_col={'Seats':['mean','sum','min','max'],'Car_Age':['mean','sum','min','max'],'Kilometers_Driven':['mean','sum','min','max'],'Mileage':['mean','sum','min','max'],'New_Price':['mean','sum','min','max']
          ,'Power':['mean','sum','min','max'],'Engine':['mean','sum','min','max'],'Location':['count']}
df1=df.copy()

df2=df.groupby(['Name1']).agg(agg_col).reset_index()
df2.columns=['_'.join(col).rstrip('_') for col in [c[::-1] for c in df2.columns.values]]
df2.rename(columns={"_Name1": "Name1"},inplace =True)

df1=df.merge(df2,on=['Name1'],how='left')

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

In [97]:
df1.head(2)

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Name,New_Price,Owner_Type,Power,Price,...,min_New_Price,max_New_Price,mean_Power,sum_Power,min_Power,max_Power,mean_Kilometers_Driven,sum_Kilometers_Driven,min_Kilometers_Driven,max_Kilometers_Driven
0,998.0,CNG,72000,Mumbai,26.60,Maruti Wagon R LXI CNG,5.469556,First,58.16,1.75,...,4.59,6.80,66.285198,11798.765198,57.5,81.8,53742.988764,9566252,600,200000
1,1582.0,Diesel,41000,Pune,19.67,Hyundai Creta 1.6 CRDi SX Option,16.415000,First,126.20,12.50,...,11.81,19.18,121.830508,14376.000000,88.7,126.2,40361.211864,4762623,2500,101065

#### Manually filled these data from business rules

In [98]:
df[(df['Seats'].isna())]
df.loc[(df['Seats'].isna() ),'Seats']=5
# df.loc[((df['Mileage'].isna() ) & (df['Name1']=="Toyota Prius")),'Mileage']=24

In [99]:
df[(df['Mileage'].isna())]
df.loc[((df['Mileage'].isna() ) & (df['Name1']=="Mahindra E")),'Mileage']=140
df.loc[((df['Mileage'].isna() ) & (df['Name1']=="Toyota Prius")),'Mileage']=24

In [100]:
df.isnull().sum()

Engine                  0
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 0
Name                    0
New_Price             162
Owner_Type              0
Power                   0
Price                1234
Seats                   0
Transmission            0
Year                    0
Car_Age                 0
Name1                   0
Name2                   0
dtype: int64

In [101]:
# df.loc[((df['Mileage'].isna() ) & (df['Name1']=="Mahindra E")),'Mileage']
# New_Price
# df[(df['New_Price'].isna())]

In [103]:
print (df.shape,df1.shape)

(7253, 16) (7253, 45)

In [104]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf1 = TfidfVectorizer(lowercase=True, stop_words='english', ngram_range=(1, 1), max_df=1.0, min_df=2, binary=True)
df_name = tf1.fit_transform(df1['Name'])
df_name = pd.DataFrame(data=df_name.toarray(), columns=tf1.get_feature_names())

df = pd.concat([df1, df_name], axis=1)

In [108]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df.head(2)

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,New_Price,Owner_Type,Power,Price,Seats,Transmission,Year,Car_Age,mean_Engine,sum_Engine,min_Engine,max_Engine,count_Location,mean_Mileage,sum_Mileage,min_Mileage,max_Mileage,mean_Seats,sum_Seats,min_Seats,max_Seats,mean_Car_Age,sum_Car_Age,min_Car_Age,max_Car_Age,mean_New_Price,sum_New_Price,min_New_Price,max_New_Price,mean_Power,sum_Power,min_Power,max_Power,mean_Kilometers_Driven,sum_Kilometers_Driven,min_Kilometers_Driven,max_Kilometers_Driven,05,0d,0l,10,100,110,110ps,118d,16,177,1l,200,2001,2003,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2019,20d,220,220d,230,230jm,250,250d,280,2l,2p,2t,2wd,30,300,30d,320,320d,320i,325i,330d,35,350,350d,40d,43,45,4d,4l,4matic,4wd,4x2,4x4,500,520d,523i,525d,525i,530d,530i,5d,5l,5str,640d,650i,6l,730ld,740li,75ps,7s,800,85,85ps,8s,99,a180,a200,a3,a4,a6,a7,a8,abs,ac,accent,accord,active,advantage,adventure,aero,ags,airbag,aktiv,alloy,alpha,altis,alto,amaze,ambiente,ambition,ameo,amg,amt,anniversary,aqua,aspire,asta,attraction,audi,aura,automatic,avantgarde,avantgare,avantgrade,aveo,avn,avventura,aw,awd,b180,b200,b3,baleno,base,beat,bentley,benz,bhp,black,blue,bmw,bolero,bolt,br,brezza,brio,brv,bs,bs3,bsii,bsiii,bsiv,c2,c250,c8,camry,captiva,captur,carbon,cargo,cayenne,cayman,cdi,cedia,celebration,celerio,cgi,chevrolet,ciaz,city,civic,cla,class,classic,climber,club,clubman,clxi,cng,comfortline,compass,convertible,cooper,corolla,corporate,country,countryman,coupe,cr,crde,crdi,creta,cross,crosspolo,cruze,crysta,crz,cs,cvt,cx,d2,d3,d4,d4dg,d5,d6,d75,datsun,ddis,delta,design,...,multijet,multitronic,n6,nano,nav,new,nexon,nissan,nuvosport,nxt,octavia,omni,opt,option,optional,optra,outlander,pack,package,pajero,panamera,paseo,passat,pd,petrol,platine,platinum,plus,polo,porsche,portfolio,pre,premium,prestige,primo,progressive,ps,pulse,punto,pure,q3,q5,q7,quadrajet,quadrajet90,qualis,quanto,quattro,r350,range,rapid,redi,renault,revotorq,revotron,rexton,rider,ritz,roof,rover,rs,rs5,rvi,rx5,rx7,rxe,rxl,rxt,rxz,s10,s4,s6,s60,s8,s80,safari,safety,safire,sail,santa,santro,scala,scorpio,sd4,sdrive,sdrive20d,sdv8,se,seater,seats,sedan,select,series,sfx,sh,shvs,sigma,signature,skoda,slc,sle,slk,slx,sonata,sp,spark,special,speed,sport,sportivo,sportline,sports,sportz,spotz,spur,ssangyong,standard,star,std,stingray,storme,str,style,summum,sumo,sun,sunny,sunroof,superb,sv,swift,sx,sx4,sxi,t8,tata,tavera,tc,tcdi,td4,td6,tdci,tdi,tdv6,tdv8,teana,technology,terra,terrano,tfsi,thar,ti,tiago,tigor,tiptronic,titanium,tone,tour,toyota,trail,transform,trd,trend,trendline,tsi,tt,tucson,turbo,tuv,twist,ultima,v2,v40,v6,v8,va,vct,vd,vdi,vento,verito,verna,versa,vgt,vista,vitara,vl,vlx,vogue,volkswagen,volvo,vtec,vtech,vti,vtvt,vvt,vx,vxd,vxi,w10,w4,w6,w8,wagon,wheel,wo,wrv,x1,x3,x5,x6,xc60,xc90,xcent,xdrive,xdrive20d,xdrive30d,xe,xenon,xf,xg,xi,xing,xj,xl,xline,xlt,xm,xms,xo,xp,xt,xta,xuv500,xv,xxi,xylo,xz,xza,yeti,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998.0,CNG,72000,Mumbai,26.60,5.469556,First,58.16,1.75,5.0,Manual,2010,9,1015.180791,180702.180791,998.0,1197.0,178,20.915674,3722.99,12.0,33.54,5.0,890.0,5.0,5.0,6.966292,1240,0,18,5.469556,973.580889,4.59,6.80,66.285198,11798.765198,57.5,81.8,53742.988764,9566252,600,200000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.641471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.524896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1582.0,Diesel,41000,Pune,19.67,16.415000,First,126.20,12.50,5.0,Manual,2015,4,1572.745763,185584.000000,1396.0,1591.0,118,17.673898,2085.52,13.0,22.10,5.0,590.0,5.0,5.0,2.567797,303,0,4,16.415000,1936.970000,11.81,19.18,121.830508,14376.000000,88.7,126.2,40361.211864,4762623,2500,101065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.436949,0.545505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.481374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
df.drop(['Name','Name1','Name2'], axis=1, inplace=True)

In [106]:
train_df = df[df['Price'].isnull()!=True]
test_df = df[df['Price'].isnull()==True]
test_df.drop('Price', axis=1, inplace=True)

In [107]:
train_df.shape, test_df.shape

((6019, 696), (1234, 695))

In [113]:
train_df['Price'] = np.log1p(train_df['Price'])

### split ji Train test

In [114]:
X = train_df.drop(labels=['Price'], axis=1)
y = train_df['Price'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)

In [115]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

((4514, 695), (4514,), (1505, 695), (1505,))

## Model Trainign

In [116]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error

In [131]:

train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_cv, label=y_cv)


lgbm=LGBMRegressor(boosting_type='gbdt',
#     num_leaves=255,
#     max_depth=-1,
    learning_rate=0.001,
    n_estimators=6000,
#     subsample_for_bin=200000,
#     objective=None,
#     class_weight=None,
#     min_split_gain=0.0,
#     min_child_weight=0.001,
    min_child_samples=100
                ,
#     subsample=1.0,
#     subsample_freq=1,
    colsample_bytree=0.4,
#     reg_alpha=0.5,
#     reg_lambda=1.0,
    random_state=1994,
    n_jobs=10,
    silent=True)
# X_train,X_val,y_train,y_val
# train_X, val_X, train_y, val_y

lgbm.fit(train_X,train_y,eval_set=[(val_X, val_y)],eval_metric='rmse', early_stopping_rounds=100,verbose=100)
out=lgbm.predict(val_X)
print(rmsle_lgb(val_y,out))
print('RMSLE:', sqrt(mean_squared_log_error(np.expm1(val_y), np.expm1(out))))

Training until validation scores don't improve for 100 rounds.
[100]	valid_0's l2: 0.46281	valid_0's rmse: 0.680302
[200]	valid_0's l2: 0.394297	valid_0's rmse: 0.627931
[300]	valid_0's l2: 0.336472	valid_0's rmse: 0.580062
[400]	valid_0's l2: 0.288101	valid_0's rmse: 0.53675
[500]	valid_0's l2: 0.247847	valid_0's rmse: 0.497842
[600]	valid_0's l2: 0.214104	valid_0's rmse: 0.462714
[700]	valid_0's l2: 0.186223	valid_0's rmse: 0.431536
[800]	valid_0's l2: 0.162582	valid_0's rmse: 0.403214
[900]	valid_0's l2: 0.14273	valid_0's rmse: 0.377796
[1000]	valid_0's l2: 0.12624	valid_0's rmse: 0.355302
[1100]	valid_0's l2: 0.112237	valid_0's rmse: 0.335018
[1200]	valid_0's l2: 0.100493	valid_0's rmse: 0.317006
[1300]	valid_0's l2: 0.0904554	valid_0's rmse: 0.300758
[1400]	valid_0's l2: 0.0821661	valid_0's rmse: 0.286646
[1500]	valid_0's l2: 0.0751177	valid_0's rmse: 0.274076
[1600]	valid_0's l2: 0.0690062	valid_0's rmse: 0.26269
[1700]	valid_0's l2: 0.0638086	valid_0's rmse: 0.252604
[1800]	valid_0's l2: 0.0594082	valid_0's rmse: 0.243738
[1900]	valid_0's l2: 0.0556698	valid_0's rmse: 0.235945
[2000]	valid_0's l2: 0.0524582	valid_0's rmse: 0.229037
[2100]	valid_0's l2: 0.049686	valid_0's rmse: 0.222904
[2200]	valid_0's l2: 0.0472787	valid_0's rmse: 0.217437
[2300]	valid_0's l2: 0.0452101	valid_0's rmse: 0.212627
[2400]	valid_0's l2: 0.0434348	valid_0's rmse: 0.20841
[2500]	valid_0's l2: 0.0418859	valid_0's rmse: 0.20466
[2600]	valid_0's l2: 0.040556	valid_0's rmse: 0.201385
[2700]	valid_0's l2: 0.0393735	valid_0's rmse: 0.198428
[2800]	valid_0's l2: 0.0383415	valid_0's rmse: 0.19581
[2900]	valid_0's l2: 0.0374042	valid_0's rmse: 0.193402
[3000]	valid_0's l2: 0.0365834	valid_0's rmse: 0.191268
[3100]	valid_0's l2: 0.0358546	valid_0's rmse: 0.189353
[3200]	valid_0's l2: 0.035212	valid_0's rmse: 0.187649
[3300]	valid_0's l2: 0.0346428	valid_0's rmse: 0.186126
[3400]	valid_0's l2: 0.0341219	valid_0's rmse: 0.184721
[3500]	valid_0's l2: 0.0336551	valid_0's rmse: 0.183453
[3600]	valid_0's l2: 0.0332208	valid_0's rmse: 0.182266
[3700]	valid_0's l2: 0.0328241	valid_0's rmse: 0.181174
[3800]	valid_0's l2: 0.0324563	valid_0's rmse: 0.180156
[3900]	valid_0's l2: 0.0321138	valid_0's rmse: 0.179203
[4000]	valid_0's l2: 0.0318093	valid_0's rmse: 0.178352
[4100]	valid_0's l2: 0.031521	valid_0's rmse: 0.177541
[4200]	valid_0's l2: 0.0312534	valid_0's rmse: 0.176786
[4300]	valid_0's l2: 0.0310036	valid_0's rmse: 0.176078
[4400]	valid_0's l2: 0.0307786	valid_0's rmse: 0.175438
[4500]	valid_0's l2: 0.0305637	valid_0's rmse: 0.174825
[4600]	valid_0's l2: 0.0303591	valid_0's rmse: 0.174238
[4700]	valid_0's l2: 0.0301696	valid_0's rmse: 0.173694
[4800]	valid_0's l2: 0.0299962	valid_0's rmse: 0.173194
[4900]	valid_0's l2: 0.0298222	valid_0's rmse: 0.172691
[5000]	valid_0's l2: 0.0296594	valid_0's rmse: 0.172219
[5100]	valid_0's l2: 0.0295032	valid_0's rmse: 0.171765
[5200]	valid_0's l2: 0.02936	valid_0's rmse: 0.171348
[5300]	valid_0's l2: 0.0292317	valid_0's rmse: 0.170973
[5400]	valid_0's l2: 0.0291053	valid_0's rmse: 0.170603
[5500]	valid_0's l2: 0.0289827	valid_0's rmse: 0.170243
[5600]	valid_0's l2: 0.0288675	valid_0's rmse: 0.169904
[5700]	valid_0's l2: 0.028758	valid_0's rmse: 0.169582
[5800]	valid_0's l2: 0.0286555	valid_0's rmse: 0.169279
[5900]	valid_0's l2: 0.0285537	valid_0's rmse: 0.168978
[6000]	valid_0's l2: 0.0284571	valid_0's rmse: 0.168692
Did not meet early stopping. Best iteration is:
[6000]	valid_0's l2: 0.0284571	valid_0's rmse: 0.168692
('rmsle', 0.1686924195207452, False)
RMSLE: 0.1686924195207452

### Predict on test set

In [133]:
Xtest = test_df

In [134]:

testO=lgbm.predict(Xtest)

In [137]:
finalDf=pd.DataFrame({'Price':np.expm1(testO)})
finalDf.to_csv('output.csv',index=False)
finalDf.head()

       Price
0   2.646954
1   2.716291
2  16.580175
3   4.022373
4   4.759327